* {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

h1 {
    color: #deb073;
}

ul {
    list-style-type: none;
}

.list {
    list-style-type: none;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.ordered-list {
    background-color: lightcyan;
    padding: 10px;
    list-style-type: none;
    border-radius: 15px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

img {
    height: auto;
    width: 500px;
}